* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER SECTION*/

.header {
    
    background-color:#1F2937 ;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.top-header, .bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16% 50px 16%;
}

.bottom-header {
    gap: 20px;
}

.left-side h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.left-side p {
    font-size: 18px;
    color: #E5E7EB; 
}

.left-side button {
    background-color: #3882F6;
    color: white;
    height: 30px;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 800;
    font-size: 24px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}

.left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 50%;
    gap: 10px;
    
}

.picture {
    width: 100%;
    flex: 50%;
    background-color: black; 
    align-self: stretch;
}

/* INFORMATION SECTION*/

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    text-align: center;
    margin-bottom: 100px;
}

.information-header-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    gap: 20px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.box {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.information img {
    border-radius: 11px;
}

.information .text {
    color: black;
}

/* QUOTE SECTION*/

.quote {
    background-color: aquamarine;
}

.sing-up-banner {
    background-color: cadetblue;
    margin-top: auto;
}


.footer {
    background-color: #1F2937;

    height: 72px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}